<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Web Development Showcase</title>
<link id='favicon' rel="icon" type="image/x-icon" href="../static/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="../static/styles.css" />
</head>

<body id="page">
  <nav id="navbar" class="visible">

      <a href="#welcome-section" id="about"><li>About</li></a>
      <a href="#projects" id="work"><li>Resume</li></a>
      <a href="{{url_for('home')}}" id="contact-nav"><li>Home</li></a>



  </nav>
  <section id="welcome-section" class="visible">
    <div id="top">
      <h1 class="welcome-section">Resume
     </h1>
     <p></p>
      <hr>
      <div class="animbox">
        <div class="anim">
        </div>
      </div>
 
      </div>
 
     </div>
 
   </section>
   <section class="visible" id="projects">
     <h2>Contact</h2>
     <div>        
            <pre>EMAIL: braed0518@gmail.com</pre>

            <pre>CINCINNATI, OH -- VALENCIA, SPAIN</pre>
 
     </div>
     <h2>Education</h2>
     <div>        
        <pre>
            Eastern University
            2023
            Masters of Science in Data Science
            

            Denison University
            2013
            Granville, OH 
            Bachelor of Arts 
            Majors: Political Science, Economics
            Concentrations in Resources, Political Theory, and the History of Economics
            LeaderShape Institute ∙ intensive exploration and motivation of goals with leadership training 
            

            Campbell College
            2017
            Valencia, ES
            CELTA Certification 
            

            Finneytown High School
            2009
            Cincinnati, OH
        </pre>
     </div>
     <h2>Work Experience</h2>
     <div>        
        <pre>
            <h3>Entrepreneur</h3>
            2019
            Braedon Long Consulting LLC
            Valencia, Valencia, Spain
            
            Founder, Owner, Coach									
            Help ESL learners find and land their next job in English
            Create and operate entire business from the ground up
            Targeted direct and facebook marketing, copy writing, sales, and business website creation
            Coach and mentor career seekers through skills assessment, job search, and interview preparation
            
            <h3>Teacher</h3>
            2021-2022
            Thompson School District
            Loveland, CO
            
            Full Time Substitute Teacher
            Pioneered new position for the district in Covid era, filling in for all schools, all subjects, and all ages
            Returned as core member for 2021-2022 school year teaching all subjects at the HS level
            
            
            2019-2020
            Lingoda
            Remote
            
            English Teacher (ESL) 
            Establish positive online learning environment for classes of adult learners
            Identify and meet needs of learners of all types and goals
            
            
            2017-2019
            English Interactive & California Language Schools
            Valencia, Valencia, Spain
        
            English Teacher (ESL)
            Design lessons for 2 group and 10+ face to face lessons at various skill levels and ages each week
            Provided a variety of hands-on learning experiences that included the use of modern teaching methods
            Created a classroom environment that was supportive, stimulating, and encouraging for all students
            
            
            2014-2017
            Hamilton County Educational Services Center
            Cincinnati, OH 
            
            2016-2017 - Long Term Substitute Teacher 
            
            Winton Woods Intermediate School 
            Taught 6th grade Language Arts and Social Studies for second and third quarters 
            Planned, implemented, taught, tested, and graded 50 students 
            
            2015 - Long Term Substitute Teacher 
            
            Winton Woods High School 
            Assumed daily management of High School Gym for six weeks 
            Taught and managed  6th grade science class for two weeks 
            
            2014-2017, 2022-2023 - Substitute Teacher 
            
            K-12 all subjects 
            Manage a different student set of varying ages, challenges, and subjects daily 
            Work to inspire critical thinking and a broader mindset of the world in a variety of youth 
            
            
            <h3>Political Organizer</h3>
            2016
            Our Vote Our Future
            Charleston, WV 

            Canvass Director
            Collaborated with local organizations in shaping an effective political action non-profit organization [501(c)(4)] 
            to fight and abolish child poverty in West Virginia 
            Designed and implemented a door to door fundraising canvass from organizational infrastructure to pitch 
            Recruited, interviewed, hired, trained, and motivated canvass staff 
             

            2014
            Ohio Citizen Action
            Cincinnati, OH

            Field Manager
            Trained and retained employees in small team environment
            700 letters generated/$20,000 raised in door to door canvassing
            Clean Water Act, Toxic Right to Know, Coal Ash Disposal, Fracking Waste Disposal Campaigns

            <h3>Gerneral Labor</h3>
            2015-2016
            Trio Bistro
            Cincinnati, OH 

            Server 
            Consistently provided an excellent standard quality of service to any and all patrons 
            Participated in and relied on outstanding teamwork to create and support a superb dining atmosphere 
            

            2013
            The Old Forge Café
            Put-In-Bay, OH

            Sous Chef 
            Managed kitchen and kitchen workers  
            Assisted with final carpentry of new restaurant, assembled kitchen equipment 
            

            2012/2016
            Greenbriar Incorporated
            Bowling Green, OH 

            2016  Residential Property Documentation     
            Took legal documentation of residential property condition  
            
            2012  Paint Crew Leader 
            Responsible for hiring and supervising painters 
            Managed all salaries and schedules for staff 
        

            Summers 2011-2017
            Longs Cleaners
            Bowling Green, OH

            Employee
            Managed financial records/data entry  in Quick Books 
            Executed a multitude of basic physical needs for family business 
            Painting, land management, capitol transport, goods transport, etc. 
            
        </pre>
     </div>
     <div
         class="project-tile"
         id="flask-tile">
        <img
             src="{{url_for('static', filename='me.jpg')}}"   
             alt="flask image"
             class="tile-image">
        <p
           class="tile-title">
           That\'s me
         </p>
        </div>
   </section>



</body>
</html>
